#ENV
NODE_ENV='development'

# SERVER
SERVER_PORT=3000
SERVER_PASSWORD='XXX'

# DATABASE
DB_ROOT_USER=root
DB_ROOT_PASSWORD=admin
DATABASE_URL="mongodb://root:admin@127.0.0.1:3010,127.0.0.1:3011,127.0.0.1:3012/alexandria?authSource=admin&replicaSet=rset"

# REDIS LOCAL
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD='XXX'
REDIS_EXPIRATION_CODE='120'

#JWT
JWT_SECRET='8AF668C4604D766256R64CBC7CAEC399DD72E4915BC308902D5DDFB145751DDA390700846DB18468031F403B577072D89F13D4CB7B8A07EE5782E19F5BACFA72'
JWT_EXPIRES_IN='7d'

# EMAIL CREDENTIALS
EMAIL_ALEXANDRIA='alexandria.library.developers@gmail.com'
EMAIL_ALEXANDRIA_PASSWORD='XXX'

# LINK RESET SENHA
EMAIL_FORGOT_PASSWORD_LINK='http://localhost:3000/auth/reset-password'
